@model IEnumerable< EmprestimosModel > 

@* Model that will be passed to the view in enumeration because it is a list of loans *@

<div class="container"> @* Container that will hold the content *@
   <div class="d-flex justify-content-between align-items-center mb-5"> 
       <h1> Empréstimos</h1>
        <a class="btn btn-success mb-3" asp-controller="Emprestimo" asp-action="Cadastrar"> <i class="bi bi-sign-intersection mx-2"></i> Cadastrar Novo Empréstimo</a>
   </div>
    
    @if(TempData["MessageSucesso"] != null)
    {
        <div class="alert alert-success" role="alert">
            @TempData["MessageSucesso"]
        </div>
    }

    @if(TempData["MessageErro"] != null)
    {
        <div class="alert alert-danger" role="alert">
            @TempData["MessageErro"]
        </div>
    }




    <table id="Emprestimos"class="table table-light table-hover mt-5">
        @* Table that will display the list of loans in the view *@
    <thead>
        <tr>
            <th scope="col">Recebedor</th>   // Table headers
            <th scope="col">Fornecedor</th>     
            <th scope="col">Livro</th>
            <th scope="col">Ultima Atualização</th>
            <th </th>
        </tr>
    </thead>
    <tbody>

            @if (Model != null)
                foreach (var emprestimo in Model)  
            
            {
                <tr>
                     
                    <th scope="row">@emprestimo.Recebedor</th>     
                    <td>@emprestimo.Fornecedor</td>
                    <td>@emprestimo.LivroEmprestado</td>
                    <td>@emprestimo.DataUltimaUtilizacao</td>
                    <td >
                            <a asp-controller="Emprestimo" asp-action="Editar" asp-route-id="@emprestimo.id" class="btn btn-warning mx-2"> <i class="bi bi-pencil-square mx-2"></i>Editar</a>
                            <a asp-controller="Emprestimo" asp-action="Excluir" asp-route-id="@emprestimo.id" class="btn btn-danger mx-2"> <i class="bi bi-trash3-fill mx-2"></i>Excluir</a>

                    </td>
                    
                </tr>
            }
        }
          
    </tbody>
</table>
</div>

